{% extends "weui/base.html" %}
{% load static %}
{% load myfilter %}
{% block mainbody %}

{% include "breadcrumb.html" %}
<div class="page">
    <div class="page__hd">
        <h1 class="page__title">游戏评测</h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells__title"></div>
        <div class="weui-cells">
            {% for review in list %}
            <a class="weui-cell  weui-cell_access weui-cell_example" href="{% url "magazine.review" review.id %}?theme=weui" target="_blank">
                <div class="weui-cell__hd" style="position: relative; margin-right: 10px;">
                    <img src="{{ review.shelf_cover }}" alt="" style="width: 50px; display: block;">
                    <span class="weui-badge" style="position: absolute; top: -0.4em; right: -0.4em;">{{ review.score }}</span>
                </div>
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle;"><p>{{review.subject}}</p>
                        <p style="font-size: 13px; color: #888;">{{review.magazine}}</p></span>

                </div>
                <div class="weui-cell__ft">详细信息</div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- 分页 -->
    {% include "pager.html" %}
</div>

{% endblock %}