{% load static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>WeUI</title>
    <link rel="stylesheet" href="{% static "weui/weui.min.css" %}"/>
    <script src="{% static "weui/zepto.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body data-weui-theme='light'>
    <div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
    <div class="container" id="container"></div>
    {% include "weui/header.html" %}
    {% block mainbody %}
    {% endblock %}

    <script type="text/template" id="footerTmpl">
        <div class="page__ft">
            <a href="javascript:home()"><img src="images/icon_footer_link.png" /></a>
        </div>
    </script>


    <!--<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
    <script src="{% static "weui/weui.min.js" %}"></script>
    {% include "weui/footer.html" %}
</body>
</html>