.header-search {
    float: right;
    margin-top: 7px;
    display: inherit;
    margin-right: 5px;
}

.game-item {
    min-height: 550px;
}

.page {
    width: 95%;
    background: #f7f7f7;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}
a:hover,a:visited {
    text-decoration: none;
}

/* 顶部logo及登录状态 start */
.logo-panel h3 {
    display: inline;
}
.logo {
    width: 60px;
    margin-bottom: 18px;
}
/* 登录面板 */
.login-panel {
    display: inline-block;
    margin-right: 10px;
    float: right;
    margin-top: 28px;
}
/* 会员面板 */
.member-panel {
    display: inline-block;
    margin-right: 10px;
    float: right;
    margin-top: 28px;
}
/* 顶部logo及登录状态 end */

/* 平台图标 start */
.console-icons {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    display: inline;
}
/* 平台图标 end */

/* 搜索结果 start */
.search-item {
    cursor: pointer;
}
.search-item-cover {
    float: left;
}
.search-item-cover img {
    width: 60px;
    margin-right: 16px;
    display: block;
}
.search-item-subject {
    float: left;
    top: 35%;               /* 垂直居中 */
    position: absolute;     /* 垂直居中 */
    margin-left: 15px;
}
/* 搜索结果 end */

/* swiper start */
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* swiper end */
