.header-search {
    float: right;
    margin-top: 7px;
    display: inherit;
    margin-right: 5px;
}

.game-item {
    min-height: 550px;
}

.page {
    width: 95%;
    background: #f7f7f7;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}
a:hover{
    text-decoration: none;
}
/* 平台图标 */
.console-icons {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    display: inline;
}
/* 搜索结果 */
.search-item {
    cursor: pointer;
}
.search-item-cover {
    float: left;
}
.search-item-cover img {
    width: 60px;
    margin-right: 16px;
    display: block;
}
.search-item-subject {
    float: left;
    top: 35%;
    position: absolute;
    margin-left: 15px;
}
