{% extends "weui/base.html" %}
{% load static %}
{% load myfilter %}
{% block mainbody %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    {% include "breadcrumb.html" %}
    <div class="page-header">
        <h1>{{ info.titleCh }}<small>{{ info.titleJp }}</small></h1>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail"><img src="{{ info.cover|first|show_pic:"cover,detail_pic_w500" }}" alt="{{ info.titleCh }}"/></div>
                <div class="caption">{{ info.titleCh }}</div>
                <div class="small">{{ info.intro|safe }}</div>
            </div>
            <div class="col-sm-6 col-md-4">
                {% ifnotequal carousel|length 0 %}
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for _ in carousel|length|get_range %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"
                                {% ifequal forloop.counter0 0 %}class="active"{% endifequal %}></li>
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for img in carousel %}
                            <div class="item {% ifequal forloop.counter 1 %}active{% endifequal %}">
                                <img src="{{ img|show_pic:"thumb,detail_pic_w500" }}" alt="...">
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% endifnotequal %}

                <div class="weui-cells__title">汇率更新于 {{ rate_update }}</div>
                <div class="weui-cells">
                    {% for p in info.price %}
                    <a class="weui-cell  weui-cell_access weui-cell_example" href="{{ p.url }}" target="_blank">
                        <div class="weui-cell__hd">
                            {% for console in p.platform|split:',' %}
                                <img src="{% static icons|get_item:console %}" alt="{{ console }}" style="width: 80px; margin-right: 16px; display: block;">
                            {% endfor %}
                        </div>
                        <div class="weui-cell__bd">
                            <p>{{ p.currency }} {{ p.latestPrice }}</p>
                            <p style="font-size: 13px; color: #888; line-height: 0px;">{{ p.edition }}</p>
                        </div>
                        <div class="weui-cell__ft">
                            {% if p.latestPriceCNY %}合 人民币：{{ p.latestPriceCNY|floatformat:"-2" }} 元
                            {% endif %}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <span>媒体评分</span>
                <div class="list-group">
                    {% for c in score %}
                        <a href="{% url "magazine.review" pk=c.id %}?theme=weui" class="list-group-item" target="_blank">
                            {% if c.score > 0 %}
                                <span class="badge">{{ c.score }} {{ c.scoreWord }}</span>
                            {% endif %}
                            <h4 class="list-group-item-heading">{{ c.subject }}</h4>
                            <p class="list-group-item-text">
                                {% if c.comment_trans|length > 0 %}{{ c.comment_trans|truncatechars:100 }}{% else %}
                                    {{ c.comment|truncatechars:100 }}{% endif %}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}