{% extends "weui/base.html" %}
{% load static %}
{% load myfilter %}
{% block mainbody %}

<div class="page">
    <div class="page__hd">
        <h1 class="page__title">游戏列表</h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd page__bd_spacing">
        {% for sublist in page_obj.object_list %}
        <div class="weui-flex">
            {% for item in sublist %}
            <div class="weui-flex__item">
                <article class="weui-article">
                <h1>{{item.titleCh}}</h1>
                <a href="{% url 'detail' game_id=item.gameId %}">
                <section>
                    <h3>{{ item.platform }}
                        {% ifequal item.hasChinese 1 %}有中文{% else %}无中文{% endifequal %} </h3>
                    <p>
                        <img src="{{ item.cover|first|show_pic:"cover,list_icon_w200" }}" alt="" width="200px">
                    </p>
                    <p>
                        {{ item.intro|striptags|truncatechars:100 }}
                    </p>
                </section>
                </a>
            </article>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
    <script type="text/template" id="footerTmpl">
        <div class="page__ft">
            <a href="javascript:home()"><img src="images/icon_footer_link.png" /></a>
        </div>
    </script>


<script src="{% static "weui/zepto.min.js" %}"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="{% static "weui/weui.min.js" %}"></script>

</body>
</html>