{% extends "./base.html" %}
{% load static %}
{% block mainbody %}
    <form action="{% url "game.link" %}" method="post">
    <input type="hidden" name="gameId" value="{% ifnotequal shelf None %}{{ shelf.gameId }}{% endifnotequal %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">游戏名</span>
                    <input type="text" name="title" class="form-control" placeholder="游戏名"
                           value="{% ifnotequal shelf None %}{{ shelf.titleCh }}{% endifnotequal %}"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <!-- Large button group -->
                <div class="btn-group">
                    <span>选择游戏系列</span>
                    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        系列游戏
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>勇者斗恶龙</li>
                        <li>生化危机</li>
                        <li>马里奥</li>
                    </ul>
                </div>
            </div>
        </div>

        {% ifnotequal shelf None %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">已关联游戏</span>
                    <ul class="list-group">
                        {% ifnotequal shelf.sub_list None %}
                        {% for s in shelf.sub_list %}
                        <li class="list-group-item">
                            <span><input type="checkbox" name="linked" value="{{ s.officialGameId }}" checked/></span>
                            <span>{{ s.subject }}</span>
                            <span class="label label-primary">{{ s.platform }}</span>
                            <span class="label label-info">{{ s.saleArea }}</span>
                        </li>
                        {% endfor %}
                        {% endifnotequal %}
                    </ul>
                </div>


            </div>
        </div>
        {% endifnotequal %}

        <div class="row" id="link-game-container">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">游戏关联</span>
                    {% for platform in list %}
                    <div class="col-lg-4">
                        <span>{{ platform.platform }}</span>
                        <span>{{ platform.countryAreaName }}</span>
                        <div class="progress" style="height: 6px;">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                        <ul class="list-group gamelist" data-platform="{{ platform.platform }}" data-saleArea="{{ platform.countryArea }}">
                            <li class="list-group-item hidden">
                                <input type="checkbox" name="game_ids" value="游戏官方ID">&nbsp;
                                <a href="游戏在线商店链接" target="_blank"> 游戏标题 </a></li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">设置搜索关键字</span>
                    <textarea class="form-control" cols="10" rows="5" name="keyword" placeholder="关键字会自动抓取游戏名，以空格分隔">{% ifnotequal shelf None %}{{ shelf.keyword }}{% endifnotequal %}</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">是否显示</span>
                    <input type="radio" name="show" value="1" {% if shelf and shelf.show == 1 %}checked{% elif shelf == None %}checked{% endif %}/>是 &nbsp;
                    <input type="radio" name="show" value="0" {% if shelf and shelf.show == 0 %}checked{% endif %}/>否 &nbsp;
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <button type="submit" class="btn btn-primary btn-lg">保 存</button>
                </div>
            </div>
        </div>
    </form>

<script type="text/javascript">
// 读取游戏列表数据
$(document).ready(function(){
    var container = $("#link-game-container");
    $(container).find("ul.gamelist").each(function(index, item){
        // 参数
        var p = $(item).attr("data-platform");
        var sa = $(item).attr("data-saleArea");
        // 进度条
        var progressBar = $(item).parent().find("div.progress-bar");

        var url = "/admin/refer/game_list?platform="+p+"&saleArea="+sa;
        $.get(url, function(data, status){
            var sample = $(item).children(0);
            $(item).text("");
            var total = data.length;
            for (var i in data) {
                var one = $(sample).clone();
                $(one).find("input").val(data[i].officialGameId);
                $(one).find("a").attr("href", data[i].url);
                $(one).find("a").text(data[i].subject);
                $(one).removeClass("hidden");
                $(item).append($(one));
                if (i % 10 == 0) {
                    var percent = Math.round(i / total * 100);
                    console.log(i, total, percent);
                    progressBar.attr("aria-valuenow", percent);
                    progressBar.css("width", percent+"%");
                }
            }
            progressBar.attr("aria-valuenow", 100);
            progressBar.css("width", "100%");
            setTimeout(function(){
                $(progressBar).parent().hide();
            }, 1000);
        });
    });
});
</script>
{% endblock %}