{% extends "./base.html" %}
{% load static %}
{% load myfilter %}
{% block mainbody %}
    <div class="alert alert-warning alert-dismissible hidden" role="alert">
        <p><strong>Warning!</strong> Better check yourself, you're not looking too good.</p>
    </div>

    <h4 class="list-group-item-heading">游戏关联列表</h4>
    <p>
        <!-- 分页 -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if pagitor.has_previous %}
                    <li>
                        <a href="{% url "myadmin.game.list" page=1 %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for p in pagitor.paginator.page_range %}
                    <li {% if p == pagitor.number %}class="active"{% endif %}>
                        <a href="{% url "myadmin.game.list" page=p %}">{{ p }}</a></li>
                {% endfor %}
                {% if pagitor.has_next %}
                    <li>
                        <a href="{% url "myadmin.game.list" page=pagitor.next_page_number %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <a class="btn-lg btn-primary glyphicon glyphicon-plus add-link" href="{% url "myadmin.game.link" %}">添加关联数据</a>
    </p>

    <ul class="list-group myadmin-link-list">
        {% for game in pagitor.object_list %}
            <li class="list-group-item" data-gid="{{ game.gameId }}">
                <span class="col-md-3"><a href="{% url 'detail' game_id=game.gameId %}">{{ game.titleCh }}</a></span>
                <span class="game-cover"><img src="{{ game.cover|first|show_pic:"cover,list_icon_w200" }}" width="120"/></span>
                {% ifequal game.hasChinese True %}
                <span class="game-has-chinese label label-success glyphicon glyphicon-ok"> 有中文</span>
                {% else %}
                <span class="game-has-chinese label label-danger glyphicon glyphicon-remove"> 无中文</span>
                {% endifequal %}
                {% ifequal game.is_save_to_oss True %}
                <span class="cover-has-save label label-success glyphicon glyphicon-ok"> 已转存</span>
                {% else %}
                <span class="cover-has-save label label-danger glyphicon glyphicon-remove"
                      data-toggle="tooltip" data-placement="right" title="未转存会导致因图片加载慢导致网页打开速度慢"> 未转存</span>
                {% endifequal %}
                <span class="platform-icons">
                    {% for console in game.platform|split:',' %}
                    <img src="{% static icons|get_item:console %}" alt="{{ console }}" style="width: 40px; margin-right: 16px; ">
                    {% endfor %}
                </span>
                <span class="btn-container right">
                    <a href="{% url "myadmin.game.link" %}?game_id={{ game.gameId }}"
                       class="btn btn-default btn-sm glyphicon glyphicon-edit">
                        关联游戏数据</a>

                    <a href="{% url "myadmin.game.magzine" game_id=game.gameId %}"
                       class="btn btn-default btn-sm glyphicon glyphicon-list-alt">
                        关联评测 ({{ game.review_count }})</a>

                    <button type="button" class="btn btn-info btn-sm glyphicon glyphicon-picture save-to-oss"
                            data-loading-text=" 转存中..." data-complete-text="已完成" autocomplete="off"
                            data-url="{% url "myadmin.game.link.picture" game_id=game.gameId %}">
                        图片转存
                    </button>

                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" data-toggle="modal"
                            data-target="#unlinkModal"
                            data-url="{% url "myadmin.game.link.unlink" game_id=game.gameId %}">
                        删除关联数据
                    </button>
                </span>
            </li>
        {% endfor %}
    </ul>
    <!-- 分页 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagitor.has_previous %}
                <li>
                    <a href="{% url "myadmin.game.list" page=1 %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for p in pagitor.paginator.page_range %}
                <li {% if p == pagitor.number %}class="active"{% endif %}>
                    <a href="{% url "myadmin.game.list" page=p %}">{{ p }}</a></li>
            {% endfor %}
            {% if pagitor.has_next %}
                <li>
                    <a href="{% url "myadmin.game.list" page=pagitor.next_page_number %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="unlinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-url="" data-gid="0">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">危险操作警告</h4>
                </div>
                <div class="modal-body">
                    你确定要删除这条数据吗？不可逆哦！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">我再考虑考虑</button>
                    <button type="button" id="modal-confirm" class="btn btn-danger">真的要删除</button>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="{% static "js/link/list.js" %}"></script>
{% endblock %}