{% extends "./base.html" %}
{% load myfilter %}
{% block mainbody %}
    <p>游戏列表</p>
    <p><a class="btn-lg btn-primary" href="{% url "game.link" %}">添加游戏合集</a>
    </p>
    <!-- 分页 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagitor.has_previous %}
            <li>
                <a href="{% url "myadmin.game.list" page=1 %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for p in pagitor.paginator.page_range %}
            <li {% if p == pagitor.number %}class="active"{% endif %}>
                <a href="{% url "myadmin.game.list" page=p %}">{{ p }}</a></li>
            {% endfor %}
            {% if pagitor.has_next %}
            <li>
                <a href="{% url "myadmin.game.list" page=pagitor.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <ul class="list-group">
        {% for game in pagitor.object_list %}
            <li class="list-group-item">
                <span><a href="{% url 'detail' game_id=game.gameId %}">{{ game.titleCh }}</a></span>
                <span><img src="{{ game.cover|first|show_pic:"cover,list_icon_w200" }}" width="120"/></span>
                <span>{% ifequal game.hasChinese True %}有中文{% else %}无中文{% endifequal %}</span>
                <span>{{ game.platform }}</span>
                <span><a href="{% url "game.link" %}?game_id={{ game.gameId }}">编辑</a></span>
                <span><a href="{% url "game.magzine" game_id=game.gameId %}">关联媒体评测</a></span>
            </li>
        {% endfor %}
    </ul>
    <!-- 分页 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagitor.has_previous %}
            <li>
                <a href="{% url "myadmin.game.list" page=1 %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for p in pagitor.paginator.page_range %}
            <li {% if p == pagitor.number %}class="active"{% endif %}>
                <a href="{% url "myadmin.game.list" page=p %}">{{ p }}</a></li>
            {% endfor %}
            {% if pagitor.has_next %}
            <li>
                <a href="{% url "myadmin.game.list" page=pagitor.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}