{% extends "./base.html" %}
{% load static %}
{% block mainbody %}
    <form action="{% url "game.magzine" game_id=shelf.gameId|default_if_none:"0" %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <h4 class="list-group-item-heading">{{ shelf.titleCh }}</h4>
                    {% ifnotequal shelf.titleJp "" %}
                        <h4 class="list-group-item-heading">{{ shelf.titleJp }}</h4>
                    {% endifnotequal %}
                    {% ifnotequal shelf.titleEn "" %}
                        <h4 class="list-group-item-heading">{{ shelf.titleEn }}</h4>
                    {% endifnotequal %}

                </div>
            </div>
        </div>

        {% ifnotequal shelf None %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">已关联游戏</span>
                    <ul class="list-group">
                        {% ifnotequal shelf.games None %}
                        {% for s in shelf.games %}
                        <li class="list-group-item">
                            <span>{{ s.subject }}</span>
                            <span class="label label-primary">{{ s.platform }}</span>
                            <span class="label label-info">{{ s.saleArea }}</span>
                        </li>
                        {% endfor %}
                        {% endifnotequal %}
                    </ul>
                </div>


            </div>
        </div>
        {% endifnotequal %}

        {% ifnotequal shelf.mags None %}
        <div class="row">
            <div class="col-lg-6">
                <span class="input-group-addon">已关联评测</span>
                <span class="list-group">
                    {% for c in shelf.mags %}
                    <a href="{{ c.url }}" class="list-group-item">
                        {% if c.score > 0 %}
                        <span class="badge">{{ c.score }} {{ c.scoreWord }}</span>
                        {% endif %}
                        <h4 class="list-group-item-heading">
                            <input type="checkbox" name="score_id" value="{{ c.id }}" checked>&nbsp;&nbsp;
                            {{ c.subject }}</h4>
                        <p class="list-group-item-text">{% if c.comment_trans|length > 0 %}{{ c.comment_trans }}{% else %}{{ c.comment }}{% endif %}</p>
                    </a>
                    {% endfor %}
                </span>
            </div>
        </div>
        {% endifnotequal %}

        <div class="row" id="review-list">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">媒体评测</span>
                    {% for label in magazines %}
                    <div class="col-lg-4">
                        <span>{{ label }}</span>
                        <div class="progress" style="height: 6px;">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                        <ul class="list-group gamelist" data-gid="{{ shelf.gameId }}" data-mag="{{ label }}">
                            <li class="list-group-item hidden">
                                <input type="checkbox" name="articles" value="">&nbsp;
                                <a href="#" target="_blank">文章标题</a>&nbsp;&nbsp;
                                <span class="badge">0.0</span>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <button type="submit" class="btn btn-primary btn-lg">保 存</button>
                </div>
            </div>
        </div>
    </form>

<script type="text/javascript">
$(function(){
    var container = $("#review-list");
    $(container).find("ul.gamelist").each(function(index, item){
        // 参数
        var gid = $(item).attr("data-gid");
        var mag = $(item).attr("data-mag");
        // 进度条
        var progressBar = $(item).parent().find("div.progress-bar");

        var url = "/admin/refer/review_list?gameId=" + gid + "&magazine=" + mag;
        $.get(url, function(data, status){
            var sample = $(item).children(0);
            $(item).text("");
            var total = data.length;
            for (var i in data) {
                var one = $(sample).clone();
                $(one).find("input").val(data[i].id);
                $(one).find("a").attr("href", data[i].url);
                $(one).find("a").text(data[i].subject);
                $(one).find("span.badge").text(data[i].score);
                $(one).removeClass("hidden");
                $(item).append($(one));
                if (i % 10 == 0) {
                    var percent = Math.round(i / total * 100);
                    console.log(i, total, percent);
                    progressBar.attr("aria-valuenow", percent);
                    progressBar.css("width", percent+"%");
                }
            }
            progressBar.attr("aria-valuenow", 100);
            progressBar.css("width", "100%");
            setTimeout(function(){
                $(progressBar).parent().hide();
            }, 1000);
        });
    });

});
</script>
{% endblock %}